body {
    background-image: radial-gradient(circle, #F4F9F4 10%, #C4E3CB 30%, #8AAE92 55%, #616161 100%);
    background-attachment: fixed;
    min-height: 600px;
    background-size: cover;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
dialog {
    margin: auto;
	position: absolute;
    width: 50%;
    height: 50%;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: repeating-linear-gradient(90deg, #b7d7be 20%, #9dc0a5 40%,#b7d7be 60%);
	border: 3px solid #688a70;
	border-radius: 5px;
    text-align: center;
}
#rules {
    margin: auto;
	position: absolute;
    width: 60%;
    height: 60%;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: repeating-linear-gradient(90deg, #b7d7be 20%, #9dc0a5 40%,#b7d7be 60%);
	border: 3px solid #688a70;
	border-radius: 5px;
    text-align: start;
    padding: 20px;
    display: none;
    font-size: medium;
    font: 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3E5C45;
    font-weight: 700;
    overflow: auto;
}
#close_rules_button {
    top: 10px;
    right: 10px;
    position: absolute;
    border: none;
    background: none;
}
#close_rules_button img {
    height: 35px;
}
.card_description{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150px;
    margin-bottom: 10px;
}
.card_description .txt {
    margin: 20px;
    width: 85%;
}
.rules_card{
    text-align: center;
    background: #edfff1;
    width: 100px;
    height: 150px;
    left: 20px;
    border: 2px solid #b4dbbc;
    border-radius: 4px;
    display: block;
}
.rules_card .rank{
    margin: auto;
    left: 0;
    right: 0;

    width: 50px;
    height: 25px; /* as the half of the width */
    border-bottom-left-radius: 27px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 27px; /* 100px of height + 10px of border */
    border: 2px solid #b4dbbc;
    border-top: 0;
}
.rules_card .rank p{
    font-size: 22px;
    color: #b4dbbc;
    margin-top: 0;
}
.rules_card .card_img{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
}
.rules_card .card_img img{
    height: 50px;
}
.rules_card .num_of_cards{
    margin: auto;
    bottom: 0;

    width: 50px;
    height: 25px; /* as the half of the width */
    border-top-left-radius: 27px;  /* 100px of height + 10px of border */
    border-top-right-radius: 27px; /* 100px of height + 10px of border */
    border: 2px solid #b4dbbc;
    border-bottom: 0;
}
.rules_card .num_of_cards p{
    font-size: 22px;
    color: #b4dbbc;
    margin-top: 0;
}
.menu_button
{
    width: 50%;
    height: 15%;
    /* background: #F4F9F4;  */
    background-image: radial-gradient(#b7d7be, #F4F9F4 );
	border: 3px solid #8aae92;
    padding: 20px;
	border-radius: 5px;
    font: 20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3E5C45;
    font-weight: 700;
    
}
.menu_buttons
{
    margin-top: 8%;
}
#zatemnenie{
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    /* display: none; */
}
.hand{
    text-align: center;
}
.hand_card{
    background-image: linear-gradient(135deg, #deab1c 20%, #ffe555 50%, #deab1c 100%);
    width: 130px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 5px;
}
.hand_card .rank{
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;

    width: 60px;
    height: 30px; /* as the half of the width */
    border-bottom-left-radius: 35px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 35px; /* 100px of height + 10px of border */
    border: 3px solid #B67C00;
    border-top: 0;
}
.hand_card .rank p{
    font-size: 25px;
    color: #B67C00;
    margin-top: 0;
}
.hand_card .card_img{
    margin: auto;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.hand_card .card_img img{
    width: 120px;
}
.hand_card .num_of_cards{
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    width: 60px;
    height: 30px; /* as the half of the width */
    border-top-left-radius: 35px;  /* 100px of height + 10px of border */
    border-top-right-radius: 35px; /* 100px of height + 10px of border */
    border: 3px solid #B67C00;
    border-bottom: 0;
}
.hand_card .num_of_cards p{
    font-size: 25px;
    color: #B67C00;
    margin-top: 0;
}
#join_table_form_container {
    margin: auto;
	position: absolute;
    width: 30%;
    height: 30%;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(#9dc0a5, #b7d7be);
	border: 3px solid #688a70;
	border-radius: 5px;
    text-align: center;
    padding: 20px;
    display: none;
    font-size: medium;
    font: 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #3E5C45;
    font-weight: 700;
    overflow: auto;
}
#join_table_form_input_ID{
    margin: 5px;
	margin-top: 50px;
    height: 30px;
    width: 70%;
}
#join_table_form_input_name{
    margin: 5px;
    height: 30px;
    width: 70%;
}
#join_table_form_button{
    color: #3E5C45;
	border: 3px solid #8aae92;
    background-image: radial-gradient(#b7d7be, #F4F9F4 );
	border-radius: 5px;
    font: 20px "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 10px;
    height: 40px;
    width: 50%;
}
#close_join_form_button {
    top: 10px;
    right: 10px;
    position: absolute;
    border: none;
    background: none;
}
#close_join_form_button img {
    height: 35px;
}